@import "./variable.styl"
    
body,html
    line-height:1
    font-family: 'PingFangSC','STHeitiSC-Light','Helvetica-Light',Arial, sans-serif
    //css3属性  文本不能被选择
    user-select :none
    -webkit-tap-highlight-color: transparent
    //解决chrome下文字不能小于12
    -webkit-text-size-adjust: none
    background:$color-background
    
    